<div class="card">
    <div class="card-body">
      <li>
        <label for="">User Name:</label>
        <input type="text" id="uname">
        <div class="error">Username should not be empty</div>
      </li>
      <li>
          <label for="">Password:</label>
          <input type="password" id="upass">
          <div class="error">Password should not be empty</div>
      </li>
      <li>
        <label for="">Confirm Password:</label>
          <input type="password" id="repass">
          <div class="error">Password should  be same</div>
      </li>
      <li>
        <label for="">Mobile No:</label>
        <input type="number" id="uno">
      </li>
      <li>
          <label for="">Email ID</label>
          <input type="email" id="umail">
      </li>
      <li id="smsg"></li>
      <button class="btn btn-primary" onclick="userRegistration()">Submit</button>
      <button class="btn btn-dark" onclick="loadpage('login');">Back to Login</button>
  </div>
</div>